name: Deploy release to homebrew

on:
  release:
    types: [published]

jobs:
  deploy-to-homebrew:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
        
      - name: Get latest tag version
        id: latest_tag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - name: Get sha 256 of macOS version
        id: shasum_mac_os
        run: | 
          wget https://github.com/kubeopsskills/levis/releases/download/${{ steps.latest_tag.outputs.tag }}/levis-${{ steps.latest_tag.outputs.tag }}-macos-x64.tar.gz &&
          echo ::set-output name=sha::"$(shasum -a 256 ./levis-${{ steps.latest_tag.outputs.tag }}-macos-x64.tar.gz | awk '{printf $1}')" 

      - name: Update levis homebrew formula
        uses: naijabx/update-formula-homebrew-action@v1
        with:
          repo: kubeopsskills/levis
          tap: kubeopsskills/homebrew-levis
          formula: Formula/levis.rb
          download-url: https://github.com/kubeopsskills/levis/releases/download/${{ steps.latest_tag.outputs.tag }}/levis-${{ steps.latest_tag.outputs.tag }}-macos-x64.tar.gz
          sha256: ${{ steps.shasum_mac_os.outputs.sha }}
        env:
          COMMIT_TOKEN: ${{ secrets.BREW_TOKEN_TAP }}

